<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="t" class="com.masai.Tourist" >
        <constructor-arg value="c" />
        <constructor-arg value="10" />
        <constructor-arg value="101" />
    </bean>


    <bean id="h" class="com.masai.HolidayPackage" >
        <property name="package_name" value="xyz"/>
        <property name="tourist" ref="t"/>
        <property name="package_expiry"><value>10/09/2023</value></property>
        <property name="package_price" value="10"/>

    </bean>


</beans>