<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="p1" class="com.masai.Person">
        <property name="id" value="1"/>
        <property name="name" value="Gyan"/>
        <property name="age" value="93"/>
        <property name="email" value="gyan@gmail.com"/>
        <property name="mobile" value="7890564322"/>
    </bean>

    <bean id="p2" class="com.masai.Person">
        <property name="id" value="2"/>
        <property name="name" value="Aman"/>
        <property name="age" value="24"/>
        <property name="email" value="aman@gmail.com"/>
        <property name="mobile" value="7890564311"/>
    </bean>

    <bean id="p3" class="com.masai.Person">
        <property name="id" value="3"/>
        <property name="name" value="Abhishek"/>
        <property name="age" value="25"/>
        <property name="email" value="abhishek@gmail.com"/>
        <property name="mobile" value="7890564333"/>
    </bean>
    <bean id="p4" class="com.masai.Person">
        <property name="id" value="4"/>
        <property name="name" value="Ankit"/>
        <property name="age" value="27"/>
        <property name="email" value="ankit@gmail.com"/>
        <property name="mobile" value="7890564344"/>
    </bean>

    <bean id="p5" class="com.masai.Person">
        <property name="id" value="5"/>
        <property name="name" value="Amar"/>
        <property name="age" value="27"/>
        <property name="email" value="amar@gmail.com"/>
        <property name="mobile" value="789056455"/>
    </bean>



    <bean id="s1" class="com.masai.Skill">
        <property name="id" value="1"/>
        <property name="name" value="Java"/>
        <property name="yearsOfExperience" value="3"/>
    </bean>

    <bean id="s2" class="com.masai.Skill">
        <property name="id" value="2"/>
        <property name="name" value="React"/>
        <property name="yearsOfExperience" value="5"/>
    </bean>

    <bean id="s3" class="com.masai.Skill">
        <property name="id" value="3"/>
        <property name="name" value="Spring"/>
        <property name="yearsOfExperience" value="7"/>
    </bean>

    <bean id="aid" class="com.masai.PersonService">
        <property name="skillMap">
            <map>
                <entry key-ref="p1" value-ref="s1"/>
                <entry key-ref="p2" value-ref="s2"/>
                <entry key-ref="p3" value-ref="s3"/>
            </map>
        </property>
    </bean>


    <bean id="lid" class="com.masai.PersonService">
        <property name="personList">
            <list>
                <ref bean="p1"/>
                <ref bean="p2"/>
                <ref bean="p3"/>
                <ref bean="p4"/>
                <ref bean="p5"/>
            </list>
        </property>
    </bean>



</beans>